# Machine Learning
pandas
numpy
scikit-learn
xgboost
joblib

# Visualization
matplotlib
seaborn

# Jupyter
jupyter
notebook

# MLOps
mlflow
dvc
dvc-gdrive
pyOpenSSL>=26.4.0,<27
cryptography>=49.0.0,<51
# API
fastapi
uvicorn

# Web Application
streamlit

# Monitoring
evidently
